body{
  background-image: url('pic/bg.jpg');
  background-size: 100vw 100vh;
  text-align: center;
  font-family: Times New Roman, regular;
}
.done{
  text-decoration: line-through;
}
ul{
  list-style-type: none;
}
.perform-btn {
  background: url('pic/perform-btn.png') no-repeat center / contain; 
  border: none;
  padding: 10px;
  height: 24x;
  width: 24px;
  cursor: pointer;
}
.edit-btn {
  background: url('pic/edit-btn.png') no-repeat center / contain; 
  border: none;
  padding: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.del-btn {
  background: url('pic/del-btn.png') no-repeat center / contain; 
  border: none;
  padding: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
